OPENAI_API_KEY = ""
LANGCHAIN_API_KEY = ""
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_PROJECT = ""
TAVILY_API_KEY = ""
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"
TOKENIZERS_PARALLELISM = "false"
AUTH_SALT = ""

[auth]
PREDEFINED_USERS = [
    { "email" = "a@b.c", "password" = "abc", "name" = "abc" },
]
