OPENAI_API_KEY = ""
LANGCHAIN_API_KEY = ""
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_PROJECT = ""
TAVILY_API_KEY = ""
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"
TOKENIZERS_PARALLELISM = "false"

[auth]
AUTH_SALT = ""
PREDEFINED_USERS = [
    { "email" = "a@b.c", "password" = "abc", "name" = "abc" },
]

[db]
DB_NAME = "dbname"
DB_USER = "username"
DB_PASSWORD = "pass"
DB_HOST = "hostname"
DB_PORT = 5432

[supabase]
SUPABASE_URL = ""
SUPABASE_KEY = ""

[bucket]
BUCKET_NAME = ""
